OPENAI_API_KEY=somekey
NEXT_PUBLIC_META_DATASET_ID=someid
META_ACCESS_TOKEN=sometoken
NEXT_PUBLIC_PRIMARY_DOMAIN=https://OasisOfArabic.com
PAYFAST_MERCHANT_ID=someid
PAYFAST_SECURED_KEY=somekey
PAYFAST_BASE_URL=https://ipg1.apps.net.pk/Ecommerce/api
NEXT_PUBLIC_APP_URL=https://OasisOfArabic.com
DATABASE_URL="postgresql://neondb_owner:somethingin here:ap-southeast-1.aws.neon./neondb?channel_binding=require&sslmode=require"
BETTER_AUTH_SECRET=Somesecret
BETTER_AUTH_URL=https://OasisOfArabic.com
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=founder@oasisofarabic.com
SMTP_PASSWORD=some_password_in_env_file